input {
  tcp {
    port => 5044
    codec => json
  }
}
filter {
  if [message] and "_jsonparsefailure" in [tags] {
    mutate {
      add_field => { "malformed_log" => "%{message}" }
      remove_field => ["message"]
    }
  }
}
output {
  elasticsearch {
    hosts => ["http://elasticsearch:9200"]
    index => "middleware-logs-%{+YYYY.MM.dd}"
  }
}